<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 使用context命名空间，通知spring扫描指定目录，解析注解配置(如果拆分了多个包则扫描多个包或限定表达式) -->
    <context:component-scan base-package="com.noob.framework.di.annotation"></context:component-scan>
</beans>